<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751239049267-oupt58bt5hce0uhoa8rh94hlmp5bq3so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751239049267-oupt58bt5hce0uhoa8rh94hlmp5bq3so</string>
	<key>API_KEY</key>
	<string>AIzaSyCeNxbc8yl0riwSVECdJzoICbIN8onwLzA</string>
	<key>GCM_SENDER_ID</key>
	<string>751239049267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dafg.canteenManagementUser</string>
	<key>PROJECT_ID</key>
	<string>canteenmanagementseller</string>
	<key>STORAGE_BUCKET</key>
	<string>canteenmanagementseller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751239049267:ios:decd089625a63f997fb346</string>
</dict>
</plist>